{% extends 'blog/base.html'%}
{% load crispy_forms_tags %}
{% block content %}
<article class="media content-section">
    <img class="rounded-circle article-img" src=" {{ object.author.profile.image.url }}" alt="">
    <div class="media-body">
        <h2 class="article-title">{{ object.title }}</h2>
        <div class="article-metadata">
            <div class="row">
                <div class="col-md-9">
                    <a class="mr-2" href="{% url 'user-posts' object.author.username %}">{{ object.author }}</a>
                    <small class="text-muted">{{ object.date_posted |date:"d F, Y" }}</small>
                </div>
                <div class="col-md-3">
                    {% if object.author == user %}
                        <a class="btn btn-secondary btn-sm mt-1 mb-1" style="text-align: right" href="{% url 'post-update' object.id %}">Update</a>
                        <a class="btn btn-danger btn-sm mt-1 mb-1 " href="{% url 'post-delete' object.id %}">Delete</a>
                    {% endif %}
                </div>
            </div>
        </div>
        <p class="article-content">{{ object.content }}</p>
        <hr>
        <div class="row">
            <div class="col-md-9">
                <h3>Comments: {{ post.comments.count }}</h3>
            </div>
            <div class="col-md-3">
                {% if user.is_authenticated %}
                <a class="btn btn-info btn-sm mt-1 mb-1 " href="{% url 'add-comment' object.id %}">Add Comment</a>
                {% endif %}
            </div>
        </div>
        {% for comment in post.comments.all %}
            <article class="media content-section">
                <img class="rounded-circle article-img" src=" {{ comment.author.profile.image.url }}" alt="">
                <div class="media-body">
                    <div class="article-metadata">
                        <a class="mr-2" href="{% url 'user-posts' post.author.username %}">{{ comment.author }}</a>
                        <small class="text-muted">{{ comment.date_posted |date:"d F, Y" }}</small>
                    </div>
                    <p class="article-content">{{ comment.content|linebreaks }}</p>

                </div>
            </article>
        {% empty %}
            <p>No comments here yet :(</p>
        {% endfor %}
    </div>
</article>
{% endblock content %}
